* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: #013875;
}

.page-wrap {
  margin: 0 auto 10px;
  padding: 0 10px;
}
@media (min-width: 800px) {
  .page-wrap {
    width: 800px;
  }
}

header h1 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 0px #ababab,  2px 2px 0px #919191,  3px 3px 0px #919191,  4px 4px 3px #000;
}
header nav {
  margin-bottom: 15px;
  text-align: center;
}
header nav a {
  color: #fff;
}

table {
  color: #666;
  font-size: 12px;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  width: 100%;
  box-shadow: 0 0 6px 1px #181818;
}
table a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
table a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}
table a:active, table a:hover {
  color: #bd5a35;
  text-decoration: underline;
}
table th {
  padding: 21px 25px 22px 25px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top, #ededed, #ebebeb);
}
table th:first-child {
  text-align: left;
  padding-left: 20px;
}
table tr {
  text-align: center;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
table tr.collapsed {
  display: none;
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}
table tr.next-game td {
  background: #024590;
  text-shadow: 1px 1px 0px #343434;
  color: white;
}
table td {
  padding: 13px 5px;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
table td.month-sep {
  border-top: none;
  border-bottom: none;
  background: #012a59;
  text-shadow: none;
  color: #f1f1f1;
  padding: 15px 0;
  font-weight: bold;
  font-size: 130%;
  cursor: pointer;
}
table td.month-sep:hover {
  background: #011e40;
}
table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}
