$colourBase: #013875;
$colourOne: #0557B3;
$colourTwo: #024590;
$colourThree: #013875;
$colourFour: #012A59;
$colourFive: #001A37;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    background: $colourBase;
}

.page-wrap {
    margin: 0 auto 10px;
    padding: 0 10px;

    @media (min-width: 800px) {
        width: 800px;
    }
}

a {
    color: #428BCA;

    &:hover,
    &:active {
        color: #2A6496;
    }
}


.page-header {

    h1,
    h2 {
        color: white;
        text-align: center;
        text-shadow: 1px 1px 0px #ababab, 
                    2px 2px 0px #919191, 
                    3px 3px 0px #919191, 
                    4px 4px 3px #000;
        // margin: 15px 0 0;
    }

    nav {
        margin-bottom: 15px;
        text-align: center;

        a {
            color: #fff;
        }
    }
}

table {
    color:#666;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    // border:#ccc 1px solid;
    width: 100%;

    // border-radius:3px;
    box-shadow: 0 0 6px 1px #181818;

    a {
        color: #666;
        font-weight: bold;
        text-decoration:none;

        &:visited {
            color: #999999;
            font-weight:bold;
            text-decoration:none;
        }

        &:active,
        &:hover {
            color: #bd5a35;
            text-decoration:underline;
        }
    }

    th {
        padding: 15px 20px 16px 20px;
        border-top: 1px solid #fafafa;
        border-bottom: 1px solid #e0e0e0;

        background: #fafafa;

        &:first-child {
            text-align: left;
            padding-left: 20px;
            width: 25%;
        }

        &:nth-child(2) {
            width: 18%;
        }

        &:nth-child(3) {
            width: 18%;
        }

        &:nth-child(4) {
            width: 9%;
        }

        &:last-child {
            width: 30%;
        }
    }

    tr {
        text-align: center;

        &:first-child {
            th:first-child {
                border-top-left-radius:3px;
            }

            th:last-child {
                border-top-right-radius:3px;
            }
        }

        &:last-child td {
            border-bottom:0;

            &:first-child {
                border-bottom-left-radius:3px;
            }

            &:last-child {
                border-bottom-right-radius:3px;
            }
        }

        &.collapsed {
            display: none;
        }

        &.even td {
            background: #f6f6f6;
        }

        &:hover td {
            background: #f2f2f2;
        }

        &.next-game td {
            background: $colourTwo; 
            text-shadow: 1px 1px 0px #343434;
            color: white;
        }
    }

    td {
        padding: 13px 5px;
        // border-top: 1px solid #ffffff;
        // border-bottom:1px solid #e0e0e0;
        // border-left: 1px solid #e0e0e0;

        background: #fafafa;

        &.month-sep {
            border-top: none;
            border-bottom: none;
            background: $colourFour;
            text-shadow: none;
            color: #f1f1f1;
            padding: 15px 0;
            font-weight: bold;
            font-size: 130%;
            cursor: pointer;

            &:hover {
                background: darken($colourFour, 5%);
            }
        }
    
        &:first-child {
            text-align: left;
            padding-left:20px;
            border-left: 0;
        }
    }
}

.schedule-wrap {
    background: #fafafa;
    margin: 0 auto;
    width: auto;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    box-shadow: 0 0 6px 1px #181818;
    border: 2px solid #eaebec;
}

.schedule-header {
    font-weight: bold;
}

.schedule-month-header {
    background: #012a59;
    text-shadow: none;
    color: #f1f1f1;
    padding: 15px 20px;
    border-bottom: 2px solid #eaebec;

    h2 {
        margin: 0;
    }

    @media (max-width: 450px) {
        padding-left: 10px;
    }
}

.schedule-row {
    display: flex;

    &.next-game {
        background: #024590;
        text-shadow: none;
        color: #f1f1f1;
    }

    &.collapsed {
        display: none;
    }

    & > div {
        flex: 1;
        display: flex;
        padding: 15px 0;
        border-bottom: 2px solid #eaebec;
        border-right: 2px solid #eaebec;
        text-align: center;

        & > span {
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
            width: 100%;
        }

        &.date { 
            flex-basis: 25%; 
            text-align: left; 
            padding-left: 20px;
            padding-right: 5px; 
            text-align: left; 
        }

        &.visitor { flex-basis: 16%; }
        &.home { flex-basis: 16%; }
        &.time { flex-basis: 13%; }

        .full-team-name { display: inline; }
        .team-id { display: none; }

        &.results { 
            flex-basis: 30%; 
            border-right: 0; 
        }

        @media (max-width: 450px) {
            &.date { 
                padding-left: 10px;
            }

            &.home,
            &.visitor {
                .full-team-name { display: none; }
                .team-id { display: inline; }
            }
        }
    }
}

.conference-container {
    background: #fff;
    box-shadow: 0px 0px 6px 1px #181818;
    margin-bottom: 20px;
    margin-top: 120px;
    position: relative;

    .conference-logo {
        display: block;
        margin-left: -125px;
        position: absolute;
        top: -100px;
        left: 50%;
    }

    @media (max-width: 590px) {
        margin-top: 170px;

        .conference-logo {
            top: -150px;
        }      
    }

    &.eastern-conference .devisions-container .devision-header {
        background: #c41230;
    }

    &.western-conference .devisions-container .devision-header {
        background: #003e7e;
    }

    .devisions-container {
        width: 50%;
        float: left;

        &:first-of-type .team a {
            border-right: 2px #eaebec solid;
        }

        .devision-header {
            color: #fff;
            padding: 15px 0;
            text-align: center;

            h3 {
                margin: 0;
            }
        }
    }

    .team {
        a {
            display: inline-block;
            padding: 20px 0;
            width: 100%;
            text-align: center;
            border-bottom: 2px #eaebec solid;

            &:hover {
                background: #f2f2f2;
            }
        }
    }
}